#aboutCard {
  width: 50rem;
  margin-left:20%;
  margin-top: 5%;
  position: relative;
  max-width: 80%;
  max-height: 80%;
  text-align: center;
  text-overflow: wrap;

  overflow-x: scroll;
}
.navMod {
  
  text-align: "center";
  padding: "3px";
  font-family: "'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif";
  background-color: transparent;
  
  
}
#nav-bar{
margin-left: 7%;;

}
.navText{

  color: blue;
}

#cardMod {
  margin-top: 10%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

#pic{
   width: 30%;
  height: fit-content;
  margin-left: 33%;
  margin-bottom: 10%;
}

.socialButton{
  margin-left: 10px;
}
